<h3>PojoBean</h3>
<span data-sly-use.pojo="com.taradevko.aem.htl.PojoBean">${pojo.value}</span>

<h3>WCMUsePojo</h3>
<span data-sly-use.wcmPojo="com.taradevko.aem.htl.WCMUsePojoBean">${wcmPojo.value}</span>

<h3>SlingModel</h3>
<span data-sly-use.slingModel="com.taradevko.aem.htl.SlingModel">${slingModel.value}</span>

<h3>JS-Use-API</h3>
<span>Hello, I am a js file which is not even included, because it hard to test&support me</span>
