<!--/*
    Normally this clientlib would be a part of main clientlib included from /etc section.
    Include it here just to have example of clientlib inclusion.
*/-->
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories='my.htl.demo'}"></sly>

Test Header Component

<sly data-sly-include="beans.html"></sly>
<sly data-sly-include="context.html"></sly>

<h3>Header</h3>
<div class="demo-header"
     data-sly-use.header="com.taradevko.aem.htl.header.HeaderModel"
     data-sly-use.topItemTemplate="topItem.html"
     data-sly-use.topItemEditTemplate="topItemEdit.html"
     data-sly-list.topItemName="${header.items.keySet.iterator}">

    <sly data-sly-test.isEditMode="${wcmmode.edit}"
         data-sly-call="${topItemEditTemplate.topItem @ name=topItemName}"></sly>

    <sly data-sly-test="${!isEditMode}"
         data-sly-call="${topItemTemplate.topItem @ name=topItemName, items=header.items[topItemName]}"></sly>
</div>
