<sly data-sly-template.topItem="${@ name, items}">

    <h3>${name}</h3>

    <ul>
        <li data-sly-repeat.subItem="${items}"
            data-sly-test="${!subItem.hidden}">
            <a href="${subItem.href}.html">
                ${subItem.name}
            </a>
        </li>
    </ul>
</sly>
